# Local env files (keep secrets out of git)
.env
.env.aws

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Distribution
*.zip
*.egg-info/

# Editor/project files
.vscode/
.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan
